header {
    padding: 12px 20px;
    border-bottom: 1px solid #e0e3e9;
    background-color: #ffffff;

    .logo-block {
        width: 45px;
        height: 16px;
        background-color: red;
    }
}