/* You can add global styles to this file, and also import other style files */
@import 'assets/sass-modules/import.scss';

$bodyBg: #e2e5eb;

body {
    background-color: $bodyBg;
    font-family: 'Roboto Condensed', sans-serif;
}